/.idea
/.htaccess
/application/cache/*
/application/logs/*
/application/config/*
!/application/config/*.template.php
/assets/js/config.js
/bkp/
/nbproject/
/assets/css/main.css
/assets/css/main.css.map
copyForTesting.sh
/bower_components/
/node_modules/