/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

$dark-grey: #3a3633; /* Navigation */
$medium-grey: #4c4f53; /* Title */
$medium-light-grey: #CCC; /* Widget's borders */
$light-grey: #e7e7e7; /* Background */

$medium-blue: #60747C;
$light-blue: #ecf3f8; /* Hover */

$warning: #aa6708;
$success: #5cb85c;
$light-success: #dff0d8;

$brightGreen: #2ecc71;
$darkGreen: #009943;
$brightRed: #e74c3c;
$darkRed: #A01607;
$brightYellow: #FCD432;
$darkYellow: #AF8C00;
$brightBlue: #80C6DD;
$darkBlue: #3688A3;

$very-acidic: #bf2408;
$acidic: #e2e414;
$neutral: #039C4A;
$alkaline: #19a29f;
$very-alkaline: #093b60;

$low-danger: #039C4A;
$medium-danger: #E47F25;
$high-danger: #BF0B23;

$header-height-mobile: 82px;

$menu-transition: 250ms cubic-bezier(0.1,.57,.1,1);

body {
  font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  background-color: $light-grey;
  padding-top: $header-height-mobile;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
  font-weight: 300;
}

h1 {
  font-size: 22px;
  margin-bottom: 15px;
  color: $medium-grey;
}

/* **** Utilities - START **** */
form {
  .message {
    padding: 15px 15px 5px 15px;
    margin: 15px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
  }
  .message-warning {
    border-left-color: $warning;
  }
  .message-success {
    border-left-color: $success;
    background-color: #dff0d8;
  }
}
/* **** Utilities - END **** */

#header-container {
  padding: 0 15px;
}

#header {
  position: fixed;
  top: 0;
  z-index: 905;
  display: block;
  height: $header-height-mobile;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $dark-grey;
  background: -moz-linear-gradient(left,$dark-grey 93%,#2a2725 100%);
  background: -webkit-gradient(linear,left top,right top,color-stop(93%,$dark-grey),color-stop(100%,#2a2725));
  background: -webkit-linear-gradient(left,$dark-grey 93%,#2a2725 100%);
  background: -o-linear-gradient(left,$dark-grey 93%,#2a2725 100%);
  background: -ms-linear-gradient(left,$dark-grey 93%,#2a2725 100%);
  background: linear-gradient(to right,$dark-grey 93%,#2a2725 100%);
  border: solid transparent;
  border-width: 1px 0;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
  border-bottom: 1px solid #1A1817;
}
#logo {
  color: white;
  margin: 5px 0;
  width: 75%;
  float: left;
}
#mobile-menu-icon {
  color: #CCC;
  float: right;
  font-size: 18px;

  &.active {
    color: white;
  }
}
.header-block {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
  float: left;

  a,
  a:focus,
  a:hover {
    color: white;
    text-decoration: none;
  }
}

#welcome {
  font-size: 18px;
  margin-top: 12px;
  color: white;
}

.header-user {
  padding-top: 10px;
  float: right;
}

#left-panel {
  position: fixed;
  top: $header-height-mobile;
  left: 0;
  z-index: 904;
  width: 125px;
  min-height: 100%;
  border-top: 1px solid #525151;
  background: $dark-grey;
  background: -moz-linear-gradient(left,$dark-grey 93%,#2a2725 100%);
  background: -webkit-gradient(linear,left top,right top,color-stop(93%,$dark-grey),color-stop(100%,#2a2725));
  background: -webkit-linear-gradient(left,$dark-grey 93%,#2a2725 100%);
  background: -o-linear-gradient(left,$dark-grey 93%,#2a2725 100%);
  background: -ms-linear-gradient(left,$dark-grey 93%,#2a2725 100%);
  background: linear-gradient(to right,$dark-grey 93%,#2a2725 100%);

  -webkit-transition: $menu-transition;
  transition: $menu-transition;
  -webkit-transform: translate(0px,0) translateZ(0px);

  #instances-menu {
    border-bottom: 1px solid #1A1817;

    h4 {
      color: white;
      padding: 10px 10px 10px 11px;
    }
  }

  #pages-menu {
    border-top: 1px solid #525151;
  }

  &.mobile-closed {
    left: -125px;
  }

  #minify-menu {
    display: none;
  }

  ul {
    width: 100%;
    padding: 40px 28px 25px 0;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: .5em;
    list-style: none;
    position: relative;

    li {
      &:hover > a {
        color: white;
      }
      a {
        line-height: normal;
        font-size: 14px;
        padding: 10px 10px 10px 11px;
        color: #a8a8a8;
        display: block;
        font-weight: 400;
        text-decoration: none!important;
        position: relative;

//        .menu-title {
//          display: none;
//        }
      }
      >a>i {
        margin-right: 5px;
        width: 15px;
        display: inline-block;
        text-align: center;
        position: relative;
      }
      &.active>a {
        color: #fff!important;
      }
      &.active>a:before {
        content: "\f0d9";
        font-family: FontAwesome;
        display: block;
        height: 27px;
        line-height: normal;
        width: 27px;
        position: absolute;
        right: -21px;
        font-size: 20px;
        color: #eee;
      }
    }
  }
}

#main {
  margin-left: 200px;
  padding: 0;
  overflow: hidden;

  background-color: $light-grey;
  background-image: -moz-linear-gradient(top,$light-grey,#e2e2e2);
  background-image: -webkit-gradient(linear,0 0,0 100%,from($light-grey),to(#e2e2e2));
  background-image: -webkit-linear-gradient(top,$light-grey,#e2e2e2);
  background-image: -o-linear-gradient(top,$light-grey,#e2e2e2);
  background-image: linear-gradient(to bottom,$light-grey,#e2e2e2);
}

/*.hidden-menu {
  margin-left: 10px;
}*/

.minified-menu #main {
  margin-left: 45px;
}

@media (max-width: 979px) {
  #main {
    margin-left: 0;
  }
}

#content {
  padding: 15px;
}

/* **** Icons - START **** */
.humidity i {
  color: #44aad5;
}
.room-temperature i {
  color: #BF0B23;
}
.tank-temperature i {
  color: #0066FF;
}

.status-icon {
  color: #EBE8E9;
}
.pump-status .pump-on {
  color: #80C5DD;
}
.light-status .light-on {
  color: $brightYellow;
}
.fan-status .fan-on {
  color: #758918;
}
.heater-status .heater-on {
  color: #F38630;
}
.error {
  color: #DD5350;
}
.success {
  color: #758918;
}
/* **** Icons - END **** */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

/* **** Spinner - START **** */
.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  margin: -20px 0 0 -20px;
  top: 50%;
  left: 50%;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
/* **** Spinner - END **** */

/* **** Switch - START **** */
.icon-switch .switch {
  border-radius: 4px;
  -webkit-mask-box-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…00VjRjMC0yLjIsMS44LTQsNC00aDcyYzIuMiwwLDQsMS44LDQsNFYyNXoiLz4NCjwvc3ZnPg0K) 0 0 stretch;
}

.icon-switch .switch>div {
  border-radius: 4px;
}

.icon-switch-on>div {
  margin-left: 0;
  -webkit-transition: margin-left .25s ease-out;
  transition: margin-left .25s ease-out;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 29px;
  overflow: hidden;
  font-size: 15px;
  line-height: 29px;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 30px;
  -webkit-mask-box-image: url(data:image/svg+xml;b50pxase64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…wxNC41LDBoNTFDNzMuNSwwLDgwLDYuNSw4MCwxNC41TDgwLDE0LjV6Ii8+DQo8L3N2Zz4NCg==) 0 0 stretch;
}

.switch>div>span {
  z-index: 1;
  display: inline-block;
  width: 38px;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: box-shadow .25s ease-out;
  transition: box-shadow .25s ease-out;
}

.switch>div>span>i {
  font-size: 22px;
  color: red;
}

.switch>div {
  display: inline-block;
  width: 104px;
  border-radius: 30px;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.icon-switch .switch .switch-handle-on {
  text-indent: -5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.switch-primary {
  background-color: black;
}

.switch-handle-on {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

label {
  font-size: 15px;
  font-weight: 400;
  line-height: 2.3;
}

.switch>div>label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
}

.icon-switch .switch .switch-handle-off {
  text-indent: 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.icon-switch-on .switch-primary~.switch-handle-off {
  box-shadow: inset 16px 0 0 #34495e;
}

.switch-default {
  color: #fff;
  background-color: #bdc3c7;
}

.icon-switch .switch .switch-handle-off i {
  color: white;
}

.icon-switch .switch .switch-handle-off:before {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}

.switch-primary~.switch-handle-off:before {
  background-color: $brightYellow;
  border-color: #34495e;
}

.switch-handle-off:before {
  position: absolute;
  top: 0;
  left: 29px;
  z-index: 100;
  display: inline-block;
  width: 22px;
  height: 30px;
  padding: 0;
  text-align: center;
  vertical-align: top;
  content: " ";
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 50%;
  -webkit-transition: border-color .25s ease-out,background-color .25s ease-out;
  transition: border-color .25s ease-out,background-color .25s ease-out;
}

.switch input[type=radio], .switch input[type=checkbox] {
  position: absolute!important;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}

.icon-switch-off .switch-handle-on~.switch-handle-off.switch-default {
  box-shadow: inset 0 0 transparent,-16px 0 0 #bdc3c7;
}

.icon-switch-off .switch-handle-on~.switch-handle-off.switch-default:before {
  background-color: #7f8c9a !important;
  border-color: #bdc3c7 !important;
}

.icon-switch-off>div {
  margin-left: -28px;
}

.icon-switch .icon-switch-off .switch-handle-off:before {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
/* **** Switch - END **** */

/* **** Selectize - START **** */
.selectize-control::before {
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  position: absolute;
  display: block;
  top: 25%;
  right: 34px;
  content: ' ';
  z-index: 2;
  opacity: 0;
  width: 16px;
  height: 16px;
  background-color: #333;

  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
.selectize-control.loading::before {
  opacity: 0.4;
}
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
}
/* TODO .selectize-control.single .selectize-input:after { */
.selectize-control .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #808080 transparent transparent transparent;
}
/* **** Selectize - END **** */

/* **** Widget - START **** */
.widget {
  padding-bottom: 30px;
  position:relative;
  display: block;

  header {
    height: 34px;
    padding: 0;
    color: white;
    background: $medium-blue;
    border: 1px solid $medium-blue;

    .widget-icon {
      display: block;
      width: 30px;
      height: 32px;
      position: relative;
      float: left;
      font-size: 111%;
      line-height: 32px;
      text-align: center;
      margin-right: -10px;
    }
    .widget-expand,
    .widget-refresh {
      cursor: pointer;
      display: block;
      width: 30px;
      height: 32px;
      position: relative;
      float: right;
      font-size: 111%;
      line-height: 32px;
      text-align: center;
      margin-left: -10px;

      &:hover {
        color: #e7e7e7;
      }
    }

    h2 {
      float: left;
      height: 100%;
      width: auto;
      display: inline-block;
      font-size: 14px;
      position: relative;
      margin: 0 0 0 10px;
      line-height: 34px;
      font-weight: 400;
      letter-spacing: 0;
    }
  }

  .widget-body {
    position: relative;
    min-height: 100px;
    background: white;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-top: none;
    border-right-color: $medium-light-grey!important;
    border-bottom-color: $medium-light-grey!important;
    border-left-color: $medium-light-grey!important;
  }
}
/* **** Widget - END **** */

/* **** Widget instances - START **** */
#widget-instances {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    border-bottom: 1px solid $light-grey;
    padding: 15px 15px 0 15px;
  }

  h3 {
    padding-right: 25px;
    position: relative;
    margin-bottom: 10px;

    a:hover {
      text-decoration: none;
      color: #333;
    }

    .instance-type {
      font-size: 16px;
    }

    .instance-expand {
      position: absolute;
      right: 0;
    }
  }

  .instance-header {
    padding-bottom: 15px;
  }

  .instance-body {
    padding-top: 15px;
    display: none;
    border-top: 1px solid $light-grey!important;

    h4 {
      border-bottom: 1px solid $light-grey;
    }

    .param {
      float: left;
      width: 50%;
    }

    .statusGage {
      margin-bottom: 15px;

      h5 {
        position: relative;
        text-align: center;
        padding-left: 15px;

        i {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 22px;
          text-align: left;

          &.wi-humidity {
            color: $brightBlue;
          }

          &.wi-thermometer {
            color: $brightGreen;
          }

          &.fa-flask {
            color: $brightYellow;
          }
        }
      }

      .gage {
        height: 75px;
        width: 100%;
      }
    }
  }

  .icon-switch.heartbeat-status {
    .switch-primary {
      background-color: $darkGreen;
    }

    .switch-primary~.switch-handle-off:before {
      background-color: $brightGreen;
    }

    .switch>div>span>i {
      font-size: 22px;
      color: $brightGreen;
    }

    .icon-switch-off .switch-default {
      background-color: $brightRed;
    }

    .icon-switch-off .switch-primary~.switch-handle-off:before {
      background-color: $darkRed !important;
    }

    .switch.icon-switch-off>div>span>i {
      font-size: 22px;
      color: $darkRed !important;
    }

    .switch .switch-handle-off {
      text-indent: 3px;
    }
  }

  .icon-switch.light-status {
    .switch-primary {
      background-color: $darkYellow;
    }

    .switch-primary~.switch-handle-off:before {
      background-color: $brightYellow;
    }

    .switch>div>span>i {
      font-size: 22px;
      color: $brightYellow;
    }
  }

  .icon-switch.pump-status {
    .switch-primary {
      background-color: $darkBlue;
    }

    .switch-primary~.switch-handle-off:before {
      background-color: $brightBlue;
    }

    .switch>div>span>i {
      font-size: 22px;
      color: $brightBlue;
    }
  }

  .icon-switch.fan-status {
    .switch-primary {
      background-color: $darkBlue;
    }

    .switch-primary~.switch-handle-off:before {
      background-color: $brightBlue;
    }

    .switch>div>span>i {
      font-size: 20px;
      color: $brightBlue;
    }

    .switch .switch-handle-off {
      text-indent: 3px;
    }
  }

  .icon-switch .switch.icon-switch-off > div > span > i {
    color: white;
  }
}
/* **** Widget instances - END **** */

/* **** Widget ToDos - START **** */
#widget-todos {
  h4 {
    padding: 10px 0 10px 10px;
  }
  #unchecked-todos,
  #checked-todos {
    border-top: 1px solid $light-grey;
    list-style: none;
    padding: 0;

    li.instance-group-title {
      border-bottom: 1px solid $light-grey;
      padding: 5px 10px;
      font-weight: bold;
    }

    li.todo {
      cursor: pointer;
      position: relative;
      border-bottom: 1px solid $light-grey;

      &:hover {
        background: $light-blue;
      }
      .check-icon {
        position: absolute;
        top: 8px;
        left: 12px;
        font-size: 20px;
      }
      span {
        display: block;
      }
      span.todo { }
      span span.todo-title {
        display: block;
        padding: 10px;
        margin-left: 40px;
        margin-right: 40px;
        border-left: 3px double #FFE1EB;
        border-right: 1px solid #e7e7e7;
      }
      span.actions {
        position: absolute;
        top: 0;
        right: 5px;
        display: block;
        text-align: right;
        padding: 5px;
      }
      span.actions i {
        font-size: 18px;
      }
      span.actions i:hover {
        color: #60747C;
      }
    }
  }

  #checked-todos li span.todo-title {
    text-decoration: line-through;
  }
  .btn-new-todo {
    margin: 0 0 10px 15px;
  }
  #todo-form {
    display: none;
    margin: 5px 15px 15px 15px;

    .close-form {
      display: block;
      width: 30px;
      height: 32px;
      position: relative;
      float: right;
      font-size: 111%;
      line-height: 32px;
      text-align: center;
      margin-left: -10px;
    }

    .widget-body {
      padding: 15px;
    }
  }
}
/* **** Widget ToDos - END **** */

/* **** Widget Instance Parameters - START **** */
.widget-params {
  .widget-body {
    padding: 15px;
  }
}
/* **** Widget Instance Parameters - END **** */

/* **** Widget Table - START **** */
.widget-table {
  .widget-body {
    padding: 15px;
  }
}
/* **** Widget Table - END **** */

/* **** Widget Table - FORM **** */
.widget-form {
  .widget-body {
    padding: 15px;
  }
}
/* **** Widget Table - END **** */

/* **** Widget Live - START **** */
.widget-live {
  .widget-body {
    padding: 15px;

    i {
      font-size: 28px;
    }
  }

  .live-status {
    text-align: right;
  }
  .live-label {
    display: block;
  }
  .live-value {
    display: block;
    font-size: 24px;
  }
  .live-value i {
    font-size: 32px;
    padding-right: 10px;
  }
}
/* **** Widget Live - START **** */

/* **** Widget Live chart - START **** */
.widget-live-chart {
  .chart {
    min-width: 310px;
    height: 320px;
    margin: 0;
  }
  .widget-body {
    padding: 5px 15px;
  }
}
/* **** Widget Live chart - END **** */

/* **** Widget History - START **** */
.widget-history {
  .chart {
    min-width: 310px;
    height: 320px;
    margin: 0;
    padding: 0 15px;
  }
}
/* **** Widget History - END **** */

/* **** Widget Logs - END **** */
#widget-logs{
  ul {
    padding: 15px;
    margin: 0;
  }
  li {
    position: relative;
    padding: 3px 0;
    list-style: none;
  }
}
/* **** Widget Logs - END **** */

/* **** Responsive - START **** */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    padding-top: 49px;
  }
  #header {
    height: 49px;
  }
  #logo {
    margin: 12px 0 15px;
  }
  #content {
    padding: 15px 30px;
  }
  #widgets[data-columns]::before {
    content: '1 .col-xs-12';
  }
  #widget-instances .statusGage {
    width: 45%;
    float: left;
    margin: 0 2.5%;
  }

  #widget-todos {

    //.widget-body {
    //  max-height: 600px;
    //  overflow-y: auto;
    //  overflow-x: hidden;
    //}

    #unchecked-todos,
    #checked-todos {
      border-top: 1px solid $light-grey;
      list-style: none;
      padding: 0;
      //max-height: 400px;
      //overflow-y: auto;
      //overflow-x: hidden;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #mobile-menu-icon {
    display: none;
  }

  #left-panel {
    position: fixed;
    top: 49px;
    left: 0;
    width: 200px;

    &.mobile-closed {
      left: 0;
    }

    ul li a .menu-title {
      display: inline-block;
    }

    #minify-menu {
      border-bottom: 1px solid #302F2F;
      background: #454545;
      color: #A8A8A8;
      text-align: center;
      padding: 0;
      width: 36px;
      height: 28px;
      display: block;
      position: absolute;
      left: 170px;
      border-radius: 5px 0 0 5px;
      cursor: pointer;
      margin-top: 5px;
      font-size: 19px;
      transition: $menu-transition;

      &:hover {
        background: #646464;
        color: #E4E4E4;
        right: 0;
      }
    }
  }

  .minified-menu {
    #left-panel {
      width: 45px;

      span.menu-title {
        display: none;
      }
      #minify-menu {
        left: 16px;
      }
    }
  }

  #widgets[data-columns]::before {
    content: '2 .col-md-6';
  }
}
/* **** Responsive - END **** */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
