@charset "UTF-8";
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Navigation */
/* Title */
/* Widget's borders */
/* Background */
/* Hover */
body {
  font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  background-color: #e7e7e7;
  padding-top: 49px; }

h1, h2, h3, h4 {
  margin: 0;
  font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
  font-weight: 300; }

h1 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #4c4f53; }

#header-container {
  padding: 0 15px; }

#header {
  position: fixed;
  top: 0;
  z-index: 905;
  display: block;
  height: 49px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #3a3633;
  background: -moz-linear-gradient(left, #3a3633 93%, #2a2725 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(93%, #3a3633), color-stop(100%, #2a2725));
  background: -webkit-linear-gradient(left, #3a3633 93%, #2a2725 100%);
  background: -o-linear-gradient(left, #3a3633 93%, #2a2725 100%);
  background: -ms-linear-gradient(left, #3a3633 93%, #2a2725 100%);
  background: linear-gradient(to right, #3a3633 93%, #2a2725 100%);
  border: solid transparent;
  border-width: 1px 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid #1A1817; }

#logo {
  color: white;
  margin-top: 12px; }

.header-block {
  display: inline-block;
  vertical-align: middle;
  height: 49px;
  float: left; }

.header-instances > :first-child {
  display: block;
  color: #CCC; }
.header-instances a {
  color: white; }

/* **** Left nav - START **** */
#left-panel {
  position: fixed;
  top: 49px;
  left: 0;
  z-index: 904;
  width: 200px;
  min-height: 100%;
  overflow: hidden;
  border-top: 1px solid #525151;
  background: #3a3633;
  background: -moz-linear-gradient(left, #3a3633 93%, #2a2725 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(93%, #3a3633), color-stop(100%, #2a2725));
  background: -webkit-linear-gradient(left, #3a3633 93%, #2a2725 100%);
  background: -o-linear-gradient(left, #3a3633 93%, #2a2725 100%);
  background: -ms-linear-gradient(left, #3a3633 93%, #2a2725 100%);
  background: linear-gradient(to right, #3a3633 93%, #2a2725 100%);
  -webkit-transition: 250ms cubic-bezier(0.1, 0.57, 0.1, 1);
  transition: 250ms cubic-bezier(0.1, 0.57, 0.1, 1);
  -webkit-transform: translate(0px, 0) translateZ(0px); }
  #left-panel ul {
    width: 100%;
    padding: 40px 28px 25px 0;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: .5em;
    list-style: none;
    position: relative; }
    #left-panel ul li:hover > a {
      color: white; }
    #left-panel ul li a {
      line-height: normal;
      font-size: 14px;
      padding: 10px 10px 10px 11px;
      color: #a8a8a8;
      display: block;
      font-weight: 400;
      text-decoration: none !important;
      position: relative; }
    #left-panel ul li > a > i {
      margin-right: 5px;
      width: 15px;
      display: inline-block;
      text-align: center;
      position: relative; }
    #left-panel ul li.active > a {
      color: #fff !important; }
    #left-panel ul li.active > a:before {
      content: "\f0d9";
      font-family: FontAwesome;
      display: block;
      height: 27px;
      line-height: normal;
      width: 27px;
      position: absolute;
      right: -21px;
      font-size: 20px;
      color: #eee; }

/*#left-panel ul li a b {
  position: absolute!important;
  right: 10px;
  top: 10px;
}
#left-panel ul ul {
  margin: 0;
  display: none;
  background: rgba(69,69,69,.6);
  padding: 7px 0;
}
#left-panel ul ul::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 23px;
  top: 0;
  bottom: 0;
  border-left: 1px solid #7A7A7A;
}
#left-panel ul ul li {
  border-bottom: none;
  position: relative;
}
#left-panel ul ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  left: 23px;
  top: 16px;
  border-top: 1px solid #7A7A7A;
  z-index: 1;
}
#left-panel ul ul li>a {
  padding: 7px 0 7px 42px;
  font-size: 14px;
  font-weight: 400;
  outline: 0;
}*/
/*.hidden-menu #left-panel {
  left: -210px;
}*/
.minified-menu #left-panel {
  width: 45px; }
  .minified-menu #left-panel span.menu-title {
    display: none; }

#minify-menu {
  border-bottom: 1px solid #302F2F;
  background: #454545;
  color: #A8A8A8;
  text-align: center;
  padding: 0;
  width: 36px;
  height: 28px;
  display: block;
  position: absolute;
  right: -3px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 19px;
  transition: all .1s linear 0s; }
  #minify-menu:hover {
    background: #646464;
    color: #E4E4E4;
    right: 0; }

@media (max-width: 979px) {
  #left-panel {
    left: -220px; } }
/* **** Left nav - END **** */
#main {
  margin-left: 200px;
  padding: 0;
  overflow: hidden;
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #e7e7e7, #e2e2e2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e7e7e7), to(#e2e2e2));
  background-image: -webkit-linear-gradient(top, #e7e7e7, #e2e2e2);
  background-image: -o-linear-gradient(top, #e7e7e7, #e2e2e2);
  background-image: linear-gradient(to bottom, #e7e7e7, #e2e2e2); }

/*.hidden-menu {
  margin-left: 10px;
}*/
.minified-menu #main {
  margin-left: 45px; }

@media (max-width: 979px) {
  #main {
    margin-left: 0; } }
#content {
  padding: 15px 30px; }

/* **** Icons - START **** */
.sunrise i {
  color: #FCD432; }

.sunset i {
  color: #BBB; }

.humidity i {
  color: #44aad5; }

.room-temperature i {
  color: #BF0B23; }

.tank-temperature i {
  color: #0066FF; }

.status-icon {
  color: #EBE8E9; }

.sun-status .fa-sun-o {
  color: #FCD432; }

.sun-status .fa-moon-o {
  color: #D3D3D3; }

.pump-status .pump-on {
  color: #80C5DD; }

.light-status .light-on {
  color: #FCD432; }

.fan-status .fan-on {
  color: #758918; }

.heater-status .heater-on {
  color: #F38630; }

.error {
  color: #DD5350; }

.success {
  color: #758918; }

/* **** Icons - END **** */
/* **** Widget - START **** */
.widget {
  padding-bottom: 30px;
  position: relative;
  display: block; }
  .widget header {
    height: 34px;
    padding: 0;
    color: white;
    background: #60747C;
    border: 1px solid #60747C; }
    .widget header .widget-icon {
      display: block;
      width: 30px;
      height: 32px;
      position: relative;
      float: left;
      font-size: 111%;
      line-height: 32px;
      text-align: center;
      margin-right: -10px; }
    .widget header .widget-expand {
      display: block;
      width: 30px;
      height: 32px;
      position: relative;
      float: right;
      font-size: 111%;
      line-height: 32px;
      text-align: center;
      margin-left: -10px; }
    .widget header h2 {
      float: left;
      height: 100%;
      width: auto;
      display: inline-block;
      font-size: 14px;
      position: relative;
      margin: 0 0 0 10px;
      line-height: 34px;
      font-weight: 400;
      letter-spacing: 0; }
  .widget .widget-body {
    background: white;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-top: none;
    border-right-color: #CCC !important;
    border-bottom-color: #CCC !important;
    border-left-color: #CCC !important; }

/* **** Widget - END **** */
/* **** Widget instances - START **** */
#widget-instances ul {
  list-style: none;
  padding: 0;
  margin: 0; }
#widget-instances li {
  border-bottom: 1px solid #e7e7e7;
  padding: 15px; }
#widget-instances li:hover {
  background: #ecf3f8; }
#widget-instances li i {
  font-size: 28px; }
#widget-instances .live-status {
  text-align: right; }
#widget-instances .live-label {
  display: block; }
#widget-instances .live-value {
  display: block;
  font-size: 24px; }
#widget-instances .live-value i {
  font-size: 32px;
  padding-right: 10px; }

/* **** Widget instances - END **** */
/* **** Widget ToDos - START **** */
#widget-todos h4 {
  padding: 10px 0 10px 10px; }
#widget-todos ul {
  border-top: 1px solid #e7e7e7;
  list-style: none;
  padding: 0; }
#widget-todos li {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #e7e7e7; }
  #widget-todos li:hover {
    background: #ecf3f8; }
  #widget-todos li .check-icon {
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 20px; }
  #widget-todos li:hover .check:before,
  #widget-todos li .check.done:before {
    content: "" !important; }
  #widget-todos li span {
    display: block;
    padding: 10px;
    margin-left: 40px;
    border-left: 3px double #FFE1EB; }

/* **** Widget ToDos - END **** */
/* **** Widget Table - START **** */
.widget-table .widget-body {
  padding: 15px; }

/* **** Widget Table - END **** */
/* **** Widget Table - FORM **** */
.widget-form .widget-body {
  padding: 15px; }

/* **** Widget Table - END **** */
/* **** Widget Live - START **** */
.widget-live .widget-body {
  padding: 15px; }
  .widget-live .widget-body i {
    font-size: 28px; }
.widget-live .live-status {
  text-align: right; }
.widget-live .live-label {
  display: block; }
.widget-live .live-value {
  display: block;
  font-size: 24px; }
.widget-live .live-value i {
  font-size: 32px;
  padding-right: 10px; }

/* **** Widget Live - START **** */
/* **** Widget Live chart - START **** */
.widget-live-chart .chart {
  min-width: 310px;
  height: 320px;
  margin: 0; }
.widget-live-chart .widget-body {
  padding: 5px 15px; }

/* **** Widget Live chart - END **** */
/* **** Widget History - START **** */
.widget-history .chart {
  min-width: 310px;
  height: 320px;
  margin: 0;
  padding: 0 15px; }

/* **** Widget History - END **** */
/* **** Widget Logs - END **** */
#widget-logs ul {
  padding: 15px;
  margin: 0; }
#widget-logs li {
  position: relative;
  padding: 3px 0;
  list-style: none; }

/* **** Widget Logs - END **** */
/*
#tasks_wrapper {
  position: relative;
  float: right;
  width: 280px;
}
#tasks_wrapper span {
  display: inline-block;
  width: 280px;
  font-size: 26px;
  color: #cfb590;
  padding: 0 20px;
  border: 3px solid #564334;
  border-bottom: none;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#tasks_wrapper:hover span {
  background: #cfb590;
}
#tasks_wrapper:hover span {
  color: #564334;
}
#tasks_wrapper > #tasks_list {
  display: none;
  list-style: none;
  background: #cfb590;
  width: 280px;
  position: absolute;
  z-index: 9000;
  margin: 0;
  padding: 0;
  border: 3px solid #564334;
  border-top: none;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#tasks_wrapper:hover > #tasks_list {
  display: block;
}
#tasks_list li {
  position: relative;
  padding: 10px 10px 10px 40px;
  border-bottom: 1px solid #564334;
  cursor: pointer;
}
#tasks_list li#no-todo {
  padding: 10px;
  text-align: center;
}


#menu {
  list-style: none;
  float: right;
  padding: 0;
  margin: 15px 0 0 0;
}

#menu li {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  transition: all 0.3s ease;
}
#menu li:hover {
  background-color: #cfb590;
}
#menu li:hover a {
  color: #564334;
}
#menu a {
  color: #c6b38b;
}
#menu li i {
  font-size: 28px;
}
*/
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
